@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,800&display=swap');

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
  font-size: 18px !important;
}

.uk-navbar-container {
  background: #ffffff;
}

nav.uk-navbar-container.uk-navbar {
  background-color: #ffffff;
}

#top-nav {
  border-bottom: 1px solid #E5E5E5;
}

